:root{
    --primary-color: #e6e1b3;
    --secondary-color: #16db65;
    --accent1-color: #058c42;
    --accent2-color: #020202;
    --heading-font: "Lato", sans-serif;
    --body-font: "Lato", sans-serif;
}

header{
    margin: 1rem auto;
    display : grid ;
    grid-template-columns:  300px 1fr;
    align-items: center;

}
.header-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    font-family: var(--body-font); 
}
.header-nav a {
    display: block;
    color: var(--accent1-color);
    padding: 20px;
    font-size: 1.5rem ;
}
.header-nav li{
    flex: 1 1 auto;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
}

.p{
    flex: 1;
    margin: 0 25px;
}

image{
    width: 100px;
    text-align: center;
}

.title{
    text-align: center;
}

.adventure{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

figure{
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 20%;
    margin: auto;
}

figcaption{
    font: var(--heading-font);
    padding: 5px;
    text-align: center;
}    

.moto{
    text-align: center;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto; 
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color)   
}

nav, p, section, article{
    margin: 16px;
    padding: 8px
}

.socialmedia{
    display: flex;
    justify-content: flex-end;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position : absolute; 
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: black;
}

article{
    position: absolute;
    bottom: 20px;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: #058c42;
}

.hero article img {
    float: right;
    width: 150px;
    padding: 5px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

}

footer p {
    margin: 0;
    font-size: 1.2em;
}

footer nav a {
    margin-left: 1em;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}


/* Contact us page  */


h3 {
    font-family: var(--heading-font);
    color: var(--accent1-color)   
}

.heros {
    position:relative;
}

.heros img {
    display: block;
    width: 100%;
    height: auto;
}

h3 {
    position: absolute; 
    top: 40%;
    height: 20%;
    width: 100%;
    padding: 16px;
    text-align:center;
    font-size: 60px;
    font-weight: bold;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: black;
    
} 

/* Form */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    width: 800px;
    margin: 15px auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: #eeeeee;
    display: grid;

}

fieldset{
    display: grid;
    grid-gap: 1.2rem;
    margin: 6px ;
    border: 1.5px solid black;
    padding: 1.5rem;

}

legend{
    padding: .5rem;
    font-size: 1.7em;
    color: var(--accent1-color);
}

label, input, select, button, textarea {
    font-family:system-ui, -apple-system, BlinkMacSystemFont;

}

label{
    display: block;
    text-align: center;
    margin: 20px;
    padding-right: 1.5em;
}

input, select, textarea{
    padding: 1rem;
    font-size: 1.5rem;
}

input[type="checkbox"]{
    width: 5em;
    height: 1.3em;
    vertical-align: bottom;
}

button{ 
    width: 300px; 
    margin: 1rem auto;  
    padding: 1rem ; 
    color: black;
    border: none;
    border-radius: 1em;
    background-color: var(--accent1-color);
    font-size: 1.2em;
}

button:hover {
    background-color: darkgray;
}


.form-item{
    display: grid;
    align-items: center;
}

.column1{
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    margin: 5px auto;
}

.column2{
    grid-template-columns: 1fr 2fr;
    margin: 5px 0;
}

.map{
    display: flex;
    justify-content: center;
}






