:root{
    --heading-background-color: darkblue;
}



nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-background-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main{
    max-width: 840px;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 5px solid var(--heading-background-color);
    padding: 1rem;
    background-color:white;
    color: black;
    text-align: center;

 }
  aside img {
        width: 200px;
        height: auto;
}
/* The footer should generate after the main part  */
 footer{
    margin-top: 1em;
    border-top: 5px solid var(--heading-background-color) ;
    text-align: center;
 }